@model OwinDemo.Controllers.PasswordResetModel
@{
    ViewBag.Title = "Password Reset";
}

<h1>Password Reset</h1>
<hr />
@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post))
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Token)
    <p>New Password: @Html.PasswordFor(X => X.Password)</p>
    <input class="btn" value="Submit" type="submit" />

}
