@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <div class="row" id="divAction">
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="showMessage()">Show Message</button>
        </div>
    </div>
    <hr />
    <div class="row" style="margin-top:10px">
        <div class="col-12">
            <div class="text-success" id="message-success"></div>
            <div class="text-danger" id="message-error"></div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="https://alcdn.msauth.net/lib/1.2.0/js/msal.js"></script>
    <script type="text/javascript">
        if (typeof Msal === 'undefined') document.write(unescape("%3Cscript src='https://alcdn.msftauth.net/lib/1.2.0/js/msal.js' type='text/javascript' %3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        const config = {
            auth: {
				clientId: '0ec444fe-05f8-4344-96cd-3186c4932325',
				authority: 'https://login.microsoftonline.com/514d5bdd-4518-4760-9408-f08191849cfa',
				redirectUri:'https://localhost:44311'
            },
            cache: {
                cacheLocation: "sessionStorage",
                storeAuthStateInCookie: false
            }
        }

        const myMSALObj = new Msal.UserAgentApplication(config);

        function showMessage(){
            const loginRequest = {
                scopes: ["openid", "profile", "user.read"]
            }

            myMSALObj.loginPopup(loginRequest).then((loginResponse) => {
				//console.log('response => ', JSON.stringify(loginResponse))
                const accessTokenRequest = {
					scopes: ["api://a14ce592-08cf-4bdb-a104-f18606cb695e/.default"]
                };

                myMSALObj.acquireTokenSilent(accessTokenRequest).then((accessTokenResponse) => {
					console.log('accessTokenResponse=', accessTokenResponse);
                    let accessToken = accessTokenResponse.accessToken;
                    let apiEndPoint = "https://localhost:44326/hello";
                    console.log('token=', accessToken);
                    let bearer = "Bearer " + accessToken;

                    $.ajax({
                        url: apiEndPoint,
                        type: "GET",
                        beforeSend: function (xhr) {xhr.setRequestHeader('Authorization', bearer)}
                    }).done((result) => {
                        $('#message-success').text(result);
                    }).fail((error) => {
                        console.log(error);
                        $('#message-error').text("Something went wrong");
                    })
                })

            }).error((err) => {
                console.log("ERROR => ", err);
            })
        }
    </script>
}